@numkeysize: 130px;
@numkey_fontsize: 35px;
@inputpanel_fontsize: 20px;
@label_fontsize: 20px;
@footer_button_height: 50px;
@footer_button_fontsize: 30px;

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 100%;
}

.inputcard {
    display: flex;
    flex-direction: column;
}

.inputcard__label {
    align-self: center;
    font-size: @label_fontsize;
}

.inputcard__cardnumber {
    font-size: @inputpanel_fontsize;
}

.inputcard__numkeypad, .inputpin__numkeypad {
    button {
        font-size: @numkey_fontsize;
        height:@numkeysize;
        width:@numkeysize;
    }
}

.inputpin {
    display: flex;
    flex-direction: column;
}

.inputpin__label, .withdrawal__label {
    align-self: center;
    font-size: @label_fontsize;
}

.inputpin__pincode, .withdrawal_inputmask {
    font-size: @inputpanel_fontsize;
}

.inputpin__reset {
    align-self: center;
    font-size: @numkey_fontsize;
    height:@numkeysize;
    width:@numkeysize;
}

.operations {
    display: flex;
    flex-direction: column;
}

.operations__balance, .operations__withdrawal, .operations__reset {
    height: 100px;
    font-size: 50px;
}

.result, .balance {
    display: flex;
    flex-direction: column;
    div {
        font-size: 30px;
    }
}

.withdrawal {
    display: flex;
    flex-direction: column;
}

.withdrawal__numkeypad {
    button {
        font-size: @numkey_fontsize;
        height:@numkeysize;
        width:@numkeysize;
    }
}

.withdrawal__footer, .balance__footer, .result_footer  {
    button{
        height: @footer_button_height;
        font-size: @footer_button_fontsize;
        width: 50%;
    }
}